<main class="app-page">
    <h1>File Uploader Test qwerty</h1>
    <input type="file" class="js-file-uploader" name="QWERT" multiple />
    <input type="button" class="btn btn-primary js-upload-button" value="Upload" />
</main>
@section FooterSection{
    <script src="/js/test/test.js?v=@Guid.NewGuid()"></script>
}