@model PagerViewModel
@if (Model.HasItems)
{
<ul class="pagination">
    @foreach (var item in Model.Items)
    {
        <li class="page-item">
            @if (item.HasUrl && !item.IsActive)
            {
                <a class="page-link" href="@Html.Raw(item.Url)">@Html.Raw(item.Text)</a>
            }
            else
            {
                <a class="page-link @(item.IsActive ? Html.Raw("active") : null)">@Html.Raw(item.Text)</a>
            }
        </li>
    }
</ul>
}