@model List<TreeNodeItem>
<div class="sortable">
    <ul class="js-file-tree-editor js-tree-items-container">
        @if (Model != null)
        {
        foreach (var Item in Model)
        {
            @await Html.PartialAsync(ViewNames.Admin.Shared.FileTreeEditor.File, Item)            
        }
        }
    </ul>
</div>

<script id="file-tree-editor-partial-template" type="text/template7">
    {{#each Children}}
    <li data-id="{{NodeID}}" class="tree-item file js-file-tree-editor-item is-open {{#if IsNoNestingEnabled}}js-no-nesting{{/if}}">
        <div class="handle {{#if IsDisabled}}disabled{{/if}}">
            <div class="left-col">
                <span class="drag">
                    <i class="fa-solid fa-arrows-up-down-left-right"></i>
                </span>
                <button class="tree-item-toggle-btn js-tree-item-toggle-btn {{#unless HasChildren}}d-none{{/unless}}"><i class="fas fa-chevron-down"></i></button>
                
                {{#if IsFolder}}
                    <i class="fa-solid fa-folder-open"></i>
                {{#else}}
                    <i class="fa-solid fa-file-lines"></i>
                {{/if}}
                <i class="fa-solid fa-file-lines"></i>
                <div class="name">
                    <a class="js-file-tree-editor-item-caption" {{#if HasNavigateUrl}} href="{{NavigateUrl}}" {{/if}} {{#if IsTargetBlank}} target="_blank" {{/if}}>
                        {{Caption}}
                    </a>
                </div>
                <input class="hidden js-file-tree-editor-item-caption-textbox" type="text" value="" />
            </div>
            <div class="right-col">
                {{#if ShowToggler1}}
                <label class="toggler">
                    <span>{{TextToggler1}}</span>
                    <input type="checkbox" {{#if IsToggler1Checked}} checked {{/if}} class="js-file-tree-editor-item-toggler-1-checkbox" />
                    <i></i>
                </label>
                {{/if}}
                {{#if ShowToggler2}}
                <label class="toggler">
                    <span>{{TextToggler2}}</span>
                    <input type="checkbox" {{#if IsToggler2Checked}} checked {{/if}} class="js-file-tree-editor-item-toggler-2-checkbox" />
                    <i></i>
                </label>
                {{/if}}
                {{#if ShowToggler3}}
                <label class="toggler">
                    <span>{{TextToggler3}}</span>
                    <input type="checkbox" {{#if IsToggler3Checked}} checked {{/if}} class="js-file-tree-editor-item-toggler-3-checkbox" />
                    <i></i>
                </label>
                {{/if}}
                {{#js_if "this.ShowCustomButton && this.ShowCustomButtonLast"}}
                <a href="#" class="js-file-tree-editor-item-custom-button">
                    <i class="{{CustomButtonIcon}}"></i>
                </a>
                {{/js_if}}
                {{#if ShowAddNewButton}}
                <a href="#" class="js-file-tree-editor-item-add-new-button">
                    <i class="fa-solid fa-plus"></i>
                </a>
                {{/if}}
                {{#if ShowEditButton}}
                <a href="#" class="js-file-tree-editor-item-add-edit-button">
                    <i class="fa-solid fa-pencil"></i>
                </a>
                {{/if}}
                {{#if ShowDeleteButton}}
                <a href="#" class="js-file-tree-editor-item-delete-button">
                    <i class="fa-light fa-trash-can"></i>
                </a>
                {{/if}}
                {{#js_if "this.ShowCustomButton && this.ShowCustomButtonLast"}}
                {
                <a href="#" class="js-file-tree-editor-item-custom-button">
                    <i class="{{CustomButtonIcon}}"></i>
                </a>
                {{/js_if}}
            </div>
        </div>
        <ul>
            {{#if HasChildren}}
            {{> "Children"}}
            {{/if}}
        </ul>
    </li>
    {{/each}}
</script>