<section class="py-5">
    <div class="d-flex justify-content-center mt-5 mb-5">
        <img src="/images/logo.svg" width="300" />
    </div>
    <div class="d-flex justify-content-center">
        <a href="/admin/" class="btn btn-primary">Login To Admin</a>
    </div>
</section>