/* Barlow */
@font-face {
    font-family: 'Barlow Geo';
    src: url('../fonts/Barlow/extralight.woff2') format('woff2'),
    url('../fonts/Barlow/extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Barlow Geo';
    src: url('../fonts/Barlow/light.woff2') format('woff2'),
    url('../fonts/Barlow/light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Barlow Geo';
    src: url('../fonts/Barlow/regular.woff2') format('woff2'),
    url('../fonts/Barlow/regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Barlow Geo';
    src: url('../fonts/Barlow/medium.woff2') format('woff2'),
    url('../fonts/Barlow/medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Barlow Geo';
    src: url('../fonts/Barlow/bold.woff2') format('woff2'),
    url('../fonts/Barlow/bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Barlow Geo';
    src: url('../fonts/Barlow/extrabold.woff2') format('woff2'),
    url('../fonts/Barlow/extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Geo UP';
    src: url('../fonts/Barlow/regular_caps.woff2') format('woff2'),
    url('../fonts/Barlow/regular_caps.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Barlow Geo UP';
    src: url('../fonts/Barlow/medium_caps.woff2') format('woff2'),
    url('../fonts/Barlow/medium_caps.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Barlow Geo UP';
    src: url('../fonts/Barlow/bold_caps.woff2') format('woff2'),
    url('../fonts/Barlow/bold_caps.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Barlow Geo UP';
    src: url('../fonts/Barlow/extrabold_caps.woff2') format('woff2'),
    url('../fonts/Barlow/extrabold_caps.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}