<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="2147483648" />
        </requestFiltering>
      </security>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
		<aspNetCore processPath=".\SixtyThreeBits.Web.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" xdt:Transform="Replace">
			<environmentVariables>
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Staging" />
			</environmentVariables>
		</aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 9e83406f-42a7-4e8b-b07e-0fa323f06455-->