@model ButtonDeleteViewModel
<button type="button" class="btn btn-oval btn-danger @Html.Raw(Model.CssClass) @Html.Raw(Model.JsSelector)"><i class="fa-light fa-trash-can"></i> @Html.Raw(Model.ButtonText)</button>
