@model List<TreeNodeItem>
<div class="list-block">
    @foreach (var Item in Model)
    {
        if (Item.IsFolder)
        {
            @await Html.PartialAsync(ViewNames.Shared.FileTree.Folder, Item)
        }
        else
        {
            @await Html.PartialAsync(ViewNames.Shared.FileTree.File, Item)
        }
    }
</div>